@import url("https://fonts.googleapis.com/css2?family=Cagliostro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
@import url("../assets/fonts/stylesheet.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --bg-prim1: #00000d;
   --bg-prim2: #0b0b1b;
   --bg-seco2: #111116;
   --bg-seco1: #51557e;
   --text-prim1: #f7fafc;
   --text-prim2: #a0aec0;
   --extra1: #363738;
   --extra2: #464748;
   --hard: crimson;
   --medium: #fbc02d;
   --easy: #00bfa5;
}

/* @media (prefers-color-scheme: dark) {
} */
input,
textarea,
button,
select,
a,
div {
   -webkit-tap-highlight-color: transparent;
}

body {
   /* -moz-user-select: none; 
   -webkit-user-select: none; 
   -ms-user-select: none; 
   user-select: none; */
}

/* width */
::-webkit-scrollbar {
   width: 8px;
   height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
   background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
   background: var(--bg-seco2);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
   background: #555;
}

/* //////////////////////////////////////////////////////////////// */
/* DotLoader.css */
@keyframes bounce {
   0%,
   100% {
      transform: translateY(0);
   }
   50% {
      transform: translateY(-10px); /* Change the bouncing distance as needed */
   }
}

.dot {
   width: 12px;
   height: 12px;
   border-radius: 50%;
   background-color: var(--bg-seco1);
   animation: bounce 1s infinite ease-in-out;

   /* Define animation delay for each dot */
   animation-delay: var(--animation-delay, 0s);
}

/* Define different delays for each dot */
.dot.delay-100 {
   --animation-delay: 0.1s;
}

.dot.delay-200 {
   --animation-delay: 0.2s;
}

.dot.delay-300 {
   --animation-delay: 0.3s;
}
